@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-image {
  border-radius: 35px; /* Adjust this value as needed */
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.text-fade-down {
  animation: fade-down 1s;
}
